<form [formGroup]="investorIdForm" class="container mt-3" name="form-add-investor" (ngSubmit)="submit()" #f="ngForm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="header">
                <h3>Add Investor</h3>
            </div>
            <section class="container border shadow-sm">
                <div class="row name">
                    <div class="col-md-12">
                        <div class="form-group" [ngClass]="{'has-error':f.submitted}">
                            <input type="text" formControlName="name" class="form-control col-md-12" placeholder="Enter investor's name">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <div class="col-md-12" style="padding: 0; margin: 0;">
                <div class="header">
                    <h3>Assign funds</h3>
                    <button type="button" class="btn btn-light" (click)="addId()">add</button>
                </div>

                <section class="container border mb-4 p-3 shadow-sm" formArrayName="investorIds"
                    *ngFor="let id of idControls; let i = index;">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-6 fundNumber">
                                <h4>Fund {{i + 1}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeId(i)">Remove</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="id"
                                        placeholder="Enter fund id" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="text-right">
                    <input type="submit" class="btn btn-success" value="Save record" />
                </div>

            </div>
        </div>
    </div>
</form>