<div class="container" style="margin-top: 40px; color: #3343a2;">

    <div class="row d-flex justify-content-center">
        <h2>Funds Records</h2>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center"></div>
            <button routerLink="/fund/edit/0" class="bg-primary text-white" style="margin-left: 125px; border: none; border-radius: 5px;">Add a record</button>
    </div>
</div>
<div class="container tablecontainer justify-content-center text-decoration-none" style="font-family: Arial, Helvetica, sans-serif;">
    <table class="table shadow-sm table-hover">
        <thead style="color:white; background: #3343a2;">
            <tr class="clickable-row">
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">VALUE</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fund of dataSource">
                <td style="width: 150px;">{{fund.id}}</td>
                <td>{{fund.name}}</td>
                <td style="width: 200px;">{{fund.value}}</td>
                <td style="width: 200px;">
                    <div class="row">
                        <button class="edit" type="button" (click)="edit(fund)"
                            style="background: green; color: white;" name="edit">edit <i
                                class="fa fa-edit fa-xs"></i></button>
                        <button class="delete" type="button" (click)="delete(fund)" data-toggle="modal"
                            data-target="#myModal" name="delete" style="background: red; color: white;">delete
                            <i class="fa fa-trash fa-xs"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>