.tablecontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  table {
    width: 80%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .details{
    overflow: hidden;
  }

  td .row button{
    margin: 0;
    float:left; width: 80px; border: none; border-radius: 20px;
  }