<div class="container" style="margin-top: 40px; color: #3343a2;">

  <div class="row d-flex justify-content-center">
      <h2>Clients Records</h2>
  </div>
  <div class="row">
      <div class="col-md-12 d-flex justify-content-center"></div>
          <button routerLink="/client/edit/0" class="bg-primary text-white" style="margin-left: 125px; border: none; border-radius: 5px;">Add a record</button>
  </div>
</div>
<div class="container tablecontainer justify-content-center text-decoration-none" style="font-family: Arial, Helvetica, sans-serif;">
  <table class="table shadow-sm table-hover">
      <thead style="color:white; background: #3343a2;">
          <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">ACTION</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let client of dataSource" >
              <td style="width: 150px;"  (click)="selectClient(client);" [class.selected]="client.flag === true">{{client.id}}</td>
              <td (click)="selectClient(client);" [class.selected]="client.flag === true">{{client.name}}</td>
              <td (click)="selectClient(client);" [class.selected]="client.flag === true">{{client.description}}</td>
              <td style="width: 200px;">
                  <div class="row">
                      <button class="edit" type="button" (click)="edit(client)" style="background: green; color: white; margin-left: 10px;" name="edit">edit <i
                      class="fa fa-edit fa-xs"></i></button>
                  </div>
              </td>
          </tr>
          
      </tbody>
  </table>
</div>
