
.container-fluid{
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.4;
    padding: 10px 40px;
    
}

.card-container{
    background-color: #F7F7F7;
    border: 1px solid black;
    padding: 40px 40px;
    margin-top: 15vh;
    -webkit-box-shadow: 4px 4px 11px 1px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 11px 1px rgba(0,0,0,1);
    box-shadow: 4px 4px 11px 1px rgba(0,0,0,1);
    border-radius: 8px;
    margin-bottom: 100px;
    
}
.btn.btn-signin {
    background-color: rgb(44, 83, 168);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-top: 5px;
  }

  .btn.btn-primary.cancel {
    background-color: white;
    color:  rgb(44, 83, 168);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid rgb(98, 147, 252);
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-top: 5px;
  }