<div class="container-fluid-center d-flex justify-content-center">
    
    <form class="card-container" name="form-add-fund" (ngSubmit)="onSubmit()" #f="ngForm">
        <div style="padding-bottom: 10px; padding-top: 0;">
            <h4>Add Funds</h4>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted}">
                <label for="fundName">Funds Name</label>
                <input type="text" class="form-control" id="fundName" [(ngModel)]="fund.name" #fundName="ngModel" name="fundName" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted}">
                <label for="value">Value</label>
                <input type="number" class="form-control" id="value" [(ngModel)]="fund.value" #value="ngModel"  name="value">  
            </div>
        </div>

        <div id="outer">
            <div class="inner"><button type="submit" class="btn btn-block btn-primary btn-signin form-submit-button">Save record</button></div>
           <div class="inner"><button type="button" (click)="back()"  class="btn btn-block btn-primary cancel form-submit-button">Cancel</button></div>
        </div>
    </form>
</div>       