<nav class="navbar navbar-dark navbar-expand-lg shadow-lg">
    <a class="navbar-brand" href="#"><img src="./../assets/images/Logo1.png" class="logo" alt="">
      <span>SampleApp</span></a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/client/0">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client/0">Clients <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/investor/0">Investors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fund/0">Funds</a>
        </li>
      </ul>
    </div>
  </nav>
