.tablecontainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  width: 80%;
}

td .row button{
  margin: 0;
  float:left; width: 80px; border: none; border-radius: 20px;
}