
.row .col-md-8 .header{
    display: flex;
    background:#3343a2;
    color: white;
    justify-content: center;
    margin-bottom: 10px;
}
.border .name{
    margin-top: 20px;
}

.row .col-md-12 .header{
    display: flex;
    background:#3343a2;
    color: white;
    justify-content: space-between;
    margin-bottom: 10px;
}


.btn-light{
    margin: 10px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;

}
h3{
    padding-left: 20px;
    padding-top: 5px;
}
.btn-success{
    margin-top: 0px;
}

.btn-danger{
    margin: 5px;
    margin-right: 0px;
}

.fundNumber{
    margin: 5px;
    margin-right: 0px;
    margin-left: 0px;
}
.justify-content-center{
    margin-bottom: 0px;
}
